htmlcov/
caldate.csv.bkp
holdings.py
investinghooks.py
tests/SH000807.csv
*auth.txt
pytest*.csv
.idea/
notification_my.py
*.pptx
real.ipynb
.DS_Store
__pycache__
xaenv
.pytest_cache
*.pyc
doc/build
demo.ipynb
demo*.html
.ipynb_checkpoints/
build/
tests/AB.csv
dist/
xalpha.egg-info/
.coverage
.vscode/
