# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


# custom
.DS_Store
dist/
*.log
config.prod.toml
tmp/

x-stock
# investool
app
*.tar.gz

statics/js/app.min.*.js
*.json
cron/*.json
