{
    "CTP": {
        "/des": " account info",
        "user": "",
        "password": ""
    },
    "易达": {
        "/des": " account info",
        "user": "",
        "password": ""
    },
    "艾克朗科": {
        "/des": " account info",
        "user": "",
        "password": ""
    }
    ,
    "CTPMini": {
        "/des": " account info",
        "user": "",
        "password": ""
    }
}