*.pyc
.idea
.DS_Store
__pycache__/*
quantstats/__pycache__/*
dist
/build
/docs/build/doctrees/*
/docs/build/html/*
/docs/build/epub/*
!/docs/build/epub/*.epub
quantstats.egg-info
QuantStats.egg-info
Icon
/tests
.vscode
Icon
