{{ define "header" }}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
    <head>
        <meta charset="UTF-8" />
        <meta name="keywords" content="InvesTool,投资工具,财报分析,股票基本面分析,基本面选股,基金检测,基金筛选,4433法则,飙股在线等" />
        <meta name="description" content="InvesTool是一个用于股票基金投资分析的辅助工具网站，主要提供公司财报分析，股票基本面分析，基本面选股，基金经理排行榜，基金4433法则筛选，基金排行榜等功能。" />
        <meta name="author" content="axiaoxin" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1.0, maximum-scale=1, shrink-to-fit=no" />

        <link rel="shortcut icon" href="/statics/favicon.ico">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://cdn.bootcdn.net/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/statics/css/app.css" />
        <!-- google auto ads -->
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3022214826355647" crossorigin="anonymous"></script>
        <title>{{ .PageTitle }}</title>
    </head>


    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo"><i class="material-icons">local_atm</i>QInvesTool</a>
                    <a href="#" data-target="mobile-sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li id="nav-stock"><a href="/"><i class="material-icons left">trending_up</i><strong>股票</strong></a></li>
                        <li id="nav-fund"><a href="/fund"><i class="material-icons left">timeline</i><strong>基金</strong></a></li>
                        <li id="nav-about"><a href="/about"><i class="material-icons left">info_outline</i><strong>关于</strong></a></li>
                        <li id="nav-comment"><a href="/comment"><i class="material-icons left">chat_bubble_outline</i><strong>留言</strong></a></li>
                        <li id="nav-materials"><a href="/materials"><i class="material-icons left">book</i><strong>资料</strong></a></li>
                    </ul>
                </div>
            </nav>

            <ul class="sidenav" id="mobile-sidenav">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="/statics/img/sidenav_bg.png">
                        </div>
                        <a href="#!"><img class="circle" src="/statics/img/sidenav_icon.png"></a>
                        <a href="#!"><span class="white-text">QInvesTool v{{ .Version }}</span></a>
                    </div>
                </li>
                <li><a class="collapsible-header waves-effect waves-red" href="/"><i class="material-icons left">trending_up</i>股票</a></li>
                <li><div class="divider"></div></li>
                <li><a class="collapsible-header waves-effect waves-red" href="/fund"><i class="material-icons left">timeline</i>基金</a></li>
                <li><div class="divider"></div></li>
                <li><a class="collapsible-header waves-effect waves-red" href="/about"><i class="material-icons left">info_outline</i>关于</a></li>
                <li><div class="divider"></div></li>
                <li><a class="collapsible-header waves-effect waves-red" href="/comment"><i class="material-icons left">chat_bubble_outline</i>留言</a></li>
                <li><div class="divider"></div></li>
                <li><a class="collapsible-header waves-effect waves-red" href="/materials"><i class="material-icons left">book</i>资料</a></li>
            </ul>

            <div id="fixed-action-btn" class="fixed-action-btn" style="bottom: 74px; right: 24px;">
                <a id="tap-target-btn" class="btn btn-floating btn-large red lighten-2">
                    <i class="large material-icons">bookmark_border</i>
                </a>
                <ul>
                    <li><a class="btn-floating red tooltipped pulse" data-position="left" data-tooltip="股票" href="/"><i class="material-icons">trending_up</i></a></li>
                    <li><a class="btn-floating orange tooltipped pulse" data-position="left" data-tooltip="基金" href="/fund"><i class="material-icons">timeline</i></a></li>
                    <li><a class="btn-floating blue tooltipped pulse" data-position="left" data-tooltip="关于" href="/about"><i class="material-icons">info_outline</i></a></li>
                    <li><a class="btn-floating purple tooltipped pulse" data-position="left" data-tooltip="留言" href="/comment"><i class="material-icons">chat_bubble_outline</i></a></li>
                    <li><a class="btn-floating brown tooltipped pulse" data-position="left" data-tooltip="资料" href="/materials"><i class="material-icons">book</i></a></li>
                    <li><a id="to-top" class="btn-floating green tooltipped pulse" data-position="left" data-tooltip="返回顶部"><i class="material-icons">publish</i></a></li>
                </ul>
            </div>
        </header>

        <main class="container">
            {{ if .Error }}
            <div class="row">
                <div class="chip flow-text orange lighten-1 col s12 center-align">
                    {{ .Error }}
                    <i class="close material-icons">close</i>
                </div>
            </div>
            {{ end }}

            <div class="row">
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-3022214826355647"
                     data-ad-slot="8885499138"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            {{ end }}

            {{ define "footer" }}
        </main>

        <!--- adsbygoogle start 
        <div class="container">
            <div class="row">
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-3022214826355647"
                     data-ad-slot="3924733374"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div> 
        adsbygoogle end -->

        <!-- footer start
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l3 s12">
                        <h5 class="white-text">友情链接</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="http://blog.axiaoxin.com?from=investool" target="_blank">人言兑:阿小信的博客</a></li>
                            <li><a class="grey-text text-lighten-3" href="http://mbti.axiaoxin.com?from=investool" target="_blank">MBTI职业性格测试</a></li>
                            <li><a class="grey-text text-lighten-3" href="http://m.psyctest.cn?from=investool" target="_blank">赛可测试网:免费心理测试</a></li>
                            <li><a class="grey-text text-lighten-3" href="http://dw.mcool.top?from=investool" target="_blank">抖文:无水印抖音下载</a></li>
                            <li><a class="grey-text text-lighten-3" href="http://kinship.psyctest.cn?from=investool" target="_blank">亲戚关系计算器</a></li>
                        </ul>
                    </div>
                    <div class="col l3 s12">
                        <h5 class="white-text">东方财富数据中心</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="https://data.eastmoney.com/cjsj/cpi.html" target="_blank">经济数据</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://data.eastmoney.com/other/index/" target="_blank">成分股数据</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://data.eastmoney.com/yjfp/" target="_blank">分红送配</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://data.eastmoney.com/report/" target="_blank">研报中心</a></li>
                        </ul>
                    </div>
                    <div class="col l3 s12">
                        <h5 class="white-text">推荐计划</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="https://www.amazon.cn/gp/search?ie=UTF8&tag=axiaoxin0c-23&linkCode=ur2&linkId=f3d777931c590e7e7450cd15c730b9a9&camp=536&creative=3200&index=books&keywords=投资" target="_blank">学投资必看书单</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://curl.qcloud.com/2LybNYEa" target="_blank">腾讯云特惠专区</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright copyright adsbygoogle">
                <iframe src="https://ghbtns.com/github-btn.html?user=axiaoxin-com&amp;repo=investool&amp;type=star&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="120" height="20"></iframe>
                <p class="right">© 2021-<script type="text/javascript">document.write(new Date().getFullYear());</script> <a href="http://axiaoxin.com" target="_blank">axiaoxin</a>, All rights reserved.</p>
            </div>
        </footer>
        footer end -->

        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/TableExport/5.2.0/js/tableexport.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/clipboard.js/2.0.11/clipboard.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.4.0/echarts.min.js"></script>

        <script type="text/javascript" src="/statics/js/app.js" ></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-EHXJT6J0DM"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'G-EHXJT6J0DM');
        </script>
        <!-- 百度统计 -->
        <script type="text/javascript" src="//cpro.baidustatic.com/cpro/ui/cm.js" async="async" defer="defer" ></script>
        <script>
            var _hmt = _hmt || [];
            (function() {
                            var hm = document.createElement("script");
                            hm.src = "https://hm.baidu.com/hm.js?281f87a5501f74be56a6d65981d942a3";
                            var s = document.getElementsByTagName("script")[0];
                            s.parentNode.insertBefore(hm, s);
                        })();
        </script>
        <!-- 百度统计END -->

        <!-- Matomo -->
        <script>
            var _paq = window._paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                            var u="https://matomo.axiaoxin.com/";
                            _paq.push(['setTrackerUrl', u+'matomo.php']);
                            _paq.push(['setSiteId', '4']);
                            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                            g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
                        })();
        </script>
        <!-- End Matomo Code -->

        <script src="https://axiaoxin.com/assets/js/adview_pic_cpc_cpm_cpa_guanggao_gg_ads_300x250.js"></script>
        <script type="text/javascript">
            if (ads_ok !== true || document.getElementsByClassName("copyright")[0].offsetHeight === 0) {
                            window.location.href="http://axiaoxin.com/letter-to-ad-blockers.html"
                        }
        </script>


    </body>
</html>
{{ end }}
