{{ template "header" . }}
<div class="row">
    <h1 class="center">留言评论</h1>
    <div class="divider"></div>
    <div class="section">
        <blockquote>愿您如K线记录股价般凡走过必留下痕迹，欢迎留下您的建议与评论</blockquote>
    </div>

    <div class="section">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3022214826355647"
            crossorigin="anonymous"></script>
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-format="fluid"
            data-ad-layout-key="-fb+5w+4e-db+86"
            data-ad-client="ca-pub-3022214826355647"
            data-ad-slot="7182264173"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <div class="section">
        <div id="SOHUCS" ></div>
        <script type="text/javascript">
        (function(){
            var appid = 'cyvvYY6Jf';
            var conf = 'prod_a2c3a8e1de728b20733e7f90936f00ff';
            var width = window.innerWidth || document.documentElement.clientWidth;
            if (width < 1000) {
                var head = document.getElementsByTagName('head')[0]||document.head||document.documentElement;
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.charset = 'utf-8';
                script.id = 'changyan_mobile_js';
                script.src = 'https://cy-cdn.kuaizhan.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf;
                head.appendChild(script);
            } else {
                var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://cy-cdn.kuaizhan.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})});
            }
        })();
        </script>
    </div>

    <div class="section">
        <div id="cyReward" role="cylabs" data-use="reward"></div>
        <script type="text/javascript" charset="utf-8" src="https://cy-cdn.kuaizhan.com/js/??lib/jquery.js,changyan.labs.https.js?appid=cywGvdWgr"></script>
        <a href="https://charmve.github.io/L0CV-web/door/#Ui%60ojr!gns!XNTS!rqnornsrihq">
            <img src="https://charmve.github.io/sponsor_files/playagame.png" alt="Play a Game with Me" width="260px">
        </a>
    </div>
    
    <!-- ads <div class="_5bls6lgzdr"></div>
    <script type="text/javascript">
        (window.slotbydup = window.slotbydup || []).push({
            id: "u6682249",
            container: "_5bls6lgzdr",
            async: true
        });
    </script> -->
</div>
{{ template "footer" . }}
