{{ template "header" . }}
<div class="col s12">
    <h4 class="center">基金<span onclick="$('#desc_similarity').tapTarget('open')">持仓相似度<i class="tiny material-icons">help_outline</i></span></h4>
    <p class="tiny center">以下所有数据与信息仅供参考，不构成投资建议</p>
    <div class="divider"></div>
    <table class="striped centered">
        <thead>
            <tr>
                <th width="30%">基金名称</th>
                <th width="40%">重复持仓</th>
                <th width="30%">持仓相似度</th>
            </tr>
        </thead>
        <tbody>
        {{ range .Result }}
        <tr>
            <td>
                <a target="_blank" href="http://fund.eastmoney.com/{{ .Fund.Code }}.html">{{ .Fund.Name }}({{ .Fund.Code }})</a>
            </td>
            <td>
                {{ range $i, $s := .SameStocks }}
                {{ $i }}.{{ $s }}<br/>
                {{end}}
            </td>
            <td>
                {{ .SimilarityValue }}
            </td>
        </tr>
        {{ end }}
        </tbody>
    </table>
</div>
<div class="tap-target-wrapper">
    <div id="desc_similarity" style="border-radius: 10%;" class="tap-target" data-target="tap-target-btn">
        <div class="tap-target-content">
            <h4>持仓相似度</h4>
            采用Jaccard相似系数计算基金持仓相似度，<br/>
            相似度越接近1表示重复持仓的股票越多。<br/>
            0 表示持仓股票完全不同，<br/>
            1 表示持仓股票完全相同。
        </div>
    </div>
</div>
{{ template "footer" . }}
