{{ template "header" . }}
<div class="col s12">
    <h1 class="center">4433基金筛选结果</h1>
    <p class="tiny center">以下所有数据与信息仅供参考，不构成投资建议</p>
    <div>
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-format="fluid"
            data-ad-layout-key="-fb+5w+4e-db+86"
            data-ad-client="ca-pub-3022214826355647"
            data-ad-slot="8799625847"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <div class="divider"></div>
    {{ template "fundtable" . }}
</div>
{{ template "footer" . }}
